<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Se a requisição NÃO for um arquivo existente
  RewriteCond %{REQUEST_FILENAME} !-f
  # E se a requisição NÃO for um diretório existente
  RewriteCond %{REQUEST_FILENAME} !-d

  # Redireciona tudo para index.html (Vue SPA)
  RewriteRule ^ index.html [L]
</IfModule>